# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Cache files
*.cache
*.pytest_cache/
.cache/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db